@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* THEMES */

  --bg-color: #FCEDC3;
  --bg-color-secondary: #e7d192;
  --text-color: #D7714D;
  --secondary-color: #2F828C;


  --shadow-soft: 0 4px 20px -2px hsl(345, 30%, 15%, 0.1);
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --wrapper-margin: 40px auto;
  --wrapper-max-width: 295px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main {
  padding: 0 1rem;
}

.members-section {
  color: var(--text-color);
  text-align: center;
}

.members-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.member-card {
  background-color: var(--bg-color);
  box-shadow: var(--shadow-soft);
  transition: var(--transition);
  border: 1px solid var(--text-color);
  border-radius: 1rem;
}

.member-card:hover{
  box-shadow: 0 8px 30px -4px hsl(345, 30%, 15%, 0.15);
  transform: translateY(-4px);
}

.member-card-content {
  padding: 0.6rem;
}

.member-header {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.member-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid hsl(345, 65%, 45%, 0.2);
}

.member-info {
  flex: 1;
  min-width: 0;
}

.members-name {
  font-size: 0.8rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.member-status {
  font-size: 0.575rem;
  color: var(--text-color);
}

.book-section {
  padding: 0.3rem;
}

.book-content {
  display: flex;
  gap: 0.75rem;
}

.book-cover {
  width: 2.7rem;
  height: 4.5rem;
  object-fit: cover;

}

.book-details {
  color: var(--text-color);
}